# Ignore everything
/*

# Except .emacs.d/init.el and .emacs.d/packages
!/.emacs.d
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/packages

# And a few other files
!/README.md
!/.bash_profile
!/.bashrc
!/.gitignore
